<%= javascript_include_tag "preambles" %>
<%category=params[:category_id].nil? ? 4 : params[:category_id].to_i%>
<h1 class="s_title">
  <% if @category == Category::TYPE[:CET4] %>
    <img src="/assets/2.png" />
  <% elsif @category == Category::TYPE[:CET6] %>
    <img src="/assets/1.png" />
  <% else %>
    <img src="/assets/s_title.png" />
  <% end %>
</h1>
<div class="fenshu_box">
  <input type="hidden" id="category_id" value="<%= category %>"/>
  <div class="user_pic"><img src="/assets/user_pic.jpg" /></div>
  <h1 class="fenshu_h1">当前估分：<span><%=@scores.split(",")[3] %></span></h1>
  <div class="clear"></div>
  <div style="margin: 40px 0;">
    <form action="#" id="gankao_form" name="gankao_form" method="post" target="_blank">
      <input type="hidden" id="info" name="info" value="" />
      <button class="f_btn" id="result_a">进入赶考网生成复习计划</button>
    </form>
  </div>
</div>
<script type="text/javascript">
  var category_id=<%= category %>;
  judge_url('<%= category %>');
</script>
<div class="fs_btn_div">
  <button  class="fs_btn" onclick="revoke_exam()">我想重新测试</button>
</div>