<input type="hidden" value="<%=listen_con.en_mean  %>" id="correct_answer" />
<div class="words_func">
  <a href="#" title="播放音频" class="play_audio" onclick="jplayer_play()">播放音频</a>
  <h2>选择与你听到的内容相符的句子。</h2>
</div>
<div><a  href='/music.mp3' id="player"> </a></div>
<div class="words_con">
  <% means=[listen_con.en_mean,listen_con.error_mean] %>
  <% means.shuffle.each do |en_mean| %>
    <div class="question_list"><a href="#" onclick="$('.question_list a').removeClass('hover_on','');$(this).addClass('hover_on');"><%= en_mean %></a></div>
  <% end %>
</div>

<div class="words_func">
  <a href="#" title="下一步" class="next" onclick="check_listen('<%= listen_con.id %>')">Next</a>
</div>
<script type="text/javascript">
  var en_mean=$("#correct_answer").val();
  local_start_time=en_mean.split(" ").length<10 ? 15 : parseInt(en_mean.split(" ").length*1.5+0.5)
  listen_start('<%= listen_con.id %>');
  flowplayer("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.14.swf", {
    clip: {
      url: '<%= listen_con.enunciate_url %>'
    }
  });
  function jplayer_play(){
    flowplayer("player").play();
  }
</script>