<%= javascript_include_tag "pretest" %>
<%= javascript_include_tag "flowplayer/flowplayer" %>
<%category=params[:category_id].nil? ? 4 : params[:category_id]%>
<script type="text/javascript">
  //单词测试
  var level= <%= @level %>;
  var min_level=1;
  var max_level=<%=@max_level %>
  var total_step=0;
  var success_times=0
  var error_times=0
  var test_ids=""
  var category_id=<%= category %>;
  //定时器的初始参数
  var local_start_time = null;
  var local_timer = null;
  var local_save_time = null;
</script>

<div class="head"><div class="time">00:30</div><a href="#" class="close" onclick="revoke_exam()">CLOSE</a></div>
<div class="main">
  <div class="mc_box">
    <%= render :partial=>"/pretests/word_con",:object=>@words %>
  </div>
</div>
<div class="foot"></div>
